.form-control {
  margin: 0.5rem 0;
}

.form-control label {
  font-weight: 700;
  display: block;
  margin-bottom: 0.5rem;
}

.form-control input {
  display: block;
  border: 1px solid #ccc;
  font: inherit;
  line-height: 1.5rem;
  padding: 0 0.25rem;
}

.form-control input:focus {
  outline: none;
  background: #fad0ec;
  border-color: #8b005d;
}

/* 입력 값 유효성을 검증하는 상태변수에 따라
클래스명(invalid)의 추가 여부를 결정할 것 */
.form-control.invalid input {
  border-color: red;
  background-color: #ffd7d7;
}

.form-control.invalid label {
  color: red;
}
